ul.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style-type: none;
    padding-left: 0;
}

ul.gallery li {
    flex: 0 0 calc((100% - 2 * 24px) / 3);
    padding-left: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover; }